<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    
    <link rel="stylesheet" href="{{"/dist/output.css" | relURL }}">
    {{ with .OutputFormats.Get "RSS" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{ end }}
</head>
<body class="bg-zinc-950 overscroll-none">
    <div class="flex-row flex justify-center gap-2 mt-16">
        {{ block "main" .}}{{ end }}
    </div>
</body>
</html>