
{{ $section := .Section }}
{{ $indexPage := .Site.GetPage "section" $section }}

{{ $remove_filter_permalink := .Site.GetPage "/notes" }}
{{ $remove_filter_permalink = $remove_filter_permalink.Permalink  }}

{{ $current_filter := .Page.Title}}

{{ with $indexPage }}
{{/*  Different Styling for main menu and taxonomy lists from actual notes single  */}}
{{/*  TODO: loop through the taxonomies instead  */}}
{{ $is_menu := .Params.Menus.main }}
{{ $is_taxonomy :=  eq .Kind "taxonomy" }}

{{ $is_menu = or $is_menu $is_taxonomy }}

{{/*  Spacing Logic for when on page or on menu  */}}
<div id="FilterSmall" class="flex-1 select-none mb-6">
        <div class="overflow-y-auto">
            <div class="text-sm ">

                {{/*  Categories and Tags  */}}
                {{ if or $is_taxonomy (eq .Name "Notes") }}
                <nav>
                    {{/*  <div class="text-xs font-medium mb-1">
                        CATEGORIES
                    </div>  */}}
                    <div class="border-b-1 py-3 border-zinc-50 border-opacity-20">
                    <div class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class=" py-0 opacity-30 w-3 h-3">
                            <path d="M14 2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v2.172a2 2 0 0 0 .586 1.414l2.828 2.828A2 2 0 0 1 6 9.828v4.363a.5.5 0 0 0 .724.447l2.17-1.085A2 2 0 0 0 10 11.763V9.829a2 2 0 0 1 .586-1.414l2.828-2.828A2 2 0 0 0 14 4.172V2Z" />
                        </svg>
                        <span class="align-middle ml-1 text-xs font-medium tracking-wide text-opacity-40 text-zinc-50">
                            FILTER
                        <span>
                    </div>
                    </div>

                    <div class="border-b-1 py-3 border-zinc-50 border-opacity-10">
                    <ul class="flex flex-row">
                        {{ range $category, $val := .Site.Taxonomies.categories }}
                        {{ if ne ($category | lower ) ( $current_filter | lower ) }}
                        <li class=" items-center py-0
                        align-middle
                        first:pl-0 first:pr-2 px-2 
                        first:border-r-1  border-r-1  last:border-0
                        border-zinc-50 border-opacity-10  ">
                            <a class="align-middle transition-all duration-75 text-zinc-50 text-opacity-30 scroll-smooth hover:text-opacity-100 active:text-opacity-100" href="{{ .Page.Permalink }}">
                                {{ $category | title }}
                            </a>
                        </li>
                        {{ else }}
                        <li class=" items-center py-0 align-middle
                        first:pl-0 first:pr-2 px-2 
                        first:border-r-1  border-r-1  last:border-0
                        border-zinc-50 border-opacity-10 group/item">
                            <a class="align-middle group/item   flex-none transition-all duration-75 text-zinc-50 text-opacity-90 scroll-smooth hover:text-opacity-100 active:text-opacity-100" href="{{ $remove_filter_permalink }}">
                                {{ $category | title }}
                            </a>
                              
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </div>


                    {{/*  <div class="text-xs font-medium mb-1 text-opac">
                        TAGS
                    </div>  */}}
                    <div class="border-b-1 py-3 border-zinc-50 border-opacity-10">
                    <ul class="flex flex-row">
                        {{ range $tag, $val := .Site.Taxonomies.tags }}
                        {{ if ne ($tag | lower ) ( $current_filter | lower ) }}
                        <li class=" items-center 
                        py-0 align-middle
                        first:pl-0 first:pr-2 px-2 
                        first:border-r-1  border-r-1  last:border-0
                        border-zinc-50 border-opacity-10  ">
                            <a class="align-middle transition-all duration-75 text-zinc-50 text-opacity-30 scroll-smooth hover:text-opacity-100 active:text-opacity-100" href="{{ .Page.Permalink }}">
                                {{ $tag | title }}
                            </a>
                        </li>
                        {{ else }}
                        <li class=" items-center py-0 align-middle
                        first:pl-0 first:pr-2 px-2 
                        first:border-r-1  border-r-1  last:border-0
                        border-zinc-50 border-opacity-10 group/item">
                            <a class="align-middle group/item   flex-none transition-all duration-75 text-zinc-50 text-opacity-90 scroll-smooth hover:text-opacity-100 active:text-opacity-100" href="{{ $remove_filter_permalink }}">
                                {{ $tag | title }}
                            </a>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                    </div>
                    
                </nav>
                {{ end }} 
            </div>
        </div>


    
    </div>
    
    
    {{ with resources.Get "js/dynamic_toc.js" }}
    <script src="{{ .RelPermalink }}"></script>
    {{ end }}
    
    {{ end }}