<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{.Title}}</title>

{{ with resources.Get .Site.Params.site_icon }}
<link rel="icon" type="img/png" href="{{ .RelPermalink }}" />
{{ end }} <link rel="stylesheet" href="{{"/dist/output.css" | relURL }}">

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
></script>



<script>
  function showContent() {
    document.body.style.visibility = "visible";
    document.body.style.opacity = 1;
  }

  window.addEventListener("load", function () {
    showContent();
  });
</script>

<style>
  body {
    visibility: hidden;
    opacity: 0;
  }
</style>

