<script>
    var coll = document.getElementsByClassName("toggle-collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        var svg = this.querySelector(".toggle-arrow");
        svg.classList.toggle("active");
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
</script>

{{ with resources.Get "js/youtube_iframe_resize.js" }}
<script src="{{ .RelPermalink }}"></script>
{{ end }}


{{ with resources.Get "js/lazyloading.js" }}
<script src="{{ .RelPermalink }}"></script>
{{ end }}
