{{ define "markdown_body_container" }}
<main class="w-full">
    <div class="hidden md:block h-16"></div>
    <div class= "px-10 bg-zinc-950  md:bg-transparent z-10 relative md:px-10 min-w-full">
           
        {{ block "site_bg_mobile" . }} {{ end }}

        <hr id="canvas-container-width-target" class="visible md:invisible border-zinc-500">


        {{ $section := .Section }}
        {{ $indexPage := .Site.GetPage "section" $section }}

        {{/*  Rich Text Compnenet  */}}
        {{ block "markdown_body" $indexPage }} {{ end }}
        

    </div>

    <div class="md:h-16 "></div>

</main>

{{ end }}