{{ define "markdown_body_container" }}
<main class="w-full">
    <div class="hidden lg:block h-16"></div>
    <div class= "px-10  bg-zinc-950 lg:bg-transparent z-10 relative lg:px-10 min-w-full">

        {{ $section := .Section }}
        {{ $indexPage := .Site.GetPage "section" $section }}
        
        {{/*  Rich Text Compnenet  */}}
        <hr id="canvas-container-width-target" class="visible lg:invisible border-zinc-500">
        {{ block "markdown_body" $indexPage }} {{ end }}
        {{ partial "notes/scroll_to_top_small.html" }}
        {{ block "page_footer" . }} {{ end }}
        
    </div>

    <div class="h-6 md:h-16 transition-all"></div>

</main>

{{ end }}