{{ define "markdown_body_container" }}
<main class="flex-col ">
    
    <div class="hidden md:block h-16"></div>


    <div class="bg-zinc-950 md:bg-transparent z-10 relative px-10  overflow-auto flex-grow scrollbar-thin scrollbar-thumb-zinc-400 scrollbar-track-zinc-800 ">
        
        {{ block "site_bg_mobile" . }} {{ end }}

        <hr id="canvas-container-width-target" class="visible md:invisible border-zinc-500">


        {{ $section := .Section }}
        {{ $indexPage := .Site.GetPage "section" $section }}

        {{/*  Rich Text Compnenet  */}}
        {{ block "markdown_body" $indexPage }} {{ end }}
        

    </div>

    <div class="md:h-16 "></div>

</main>

{{ end }}