{{ define "menu" }}    
<div class="mx-10 lg:ml-0">
    <div class="my-5 flex justify-between md:max-w-96 lg:block">
    {{ range site.Menus.main }}
    {{ $active := $.IsMenuCurrent .Menu . }}
        <span class="flex lg:block lg:my-5">
            <a href="{{ .URL }}" class="text-lg lg:text-base lg:text-left font-medium {{ if not $active }} text-zinc-400 {{ end }} hover:text-zinc-50 transition-all ">
                {{ .Name | upper }}
            </a>
        </span>
    {{ end }}
    </div>
</div>
{{ end }}    

{{/*  max-w-64 lg:max-w-full container mt-2 flex justify-between tracking-wide  */}}