<div class="md:flex">

{{ partial "sidebar.html" . }}

{{/*  gap bewtween side-bar and main-content  */}}
<div class="w-12"></div>

<main class="flex-col ">
    
    
    <div class="hidden md:block h-16"></div>

    <div class=" bg-zinc-950 md:bg-transparent z-10 relative px-10  overflow-auto flex-grow scrollbar-thin scrollbar-thumb-zinc-400 scrollbar-track-zinc-800 ">
        
        {{ block "site_bg_mobile" . }} {{ end }}

        <hr class="visible md:invisible border-zinc-500">

        {{/*  Rich Text Compnenet  */}}
        {{ with .Site.GetPage "overview/about" }}
        {{ block "markdown_body" . }} {{ end }}
        {{ end }}

        <div id="canvas-container">
            {{ partial "teapot.html" .}}
        </div>


        {{ with .Site.GetPage "test" }}
        {{ block "markdown_body" .  }} {{ end }}
        {{ end }}

    
    
    </div>

    <div class="md:h-16 "></div>

</main>

</div>

