{{ $markdown_page := .Site.GetPage "about" }}


<div class="md:flex">

{{ partial "sidebar.html" . }}

{{/*  gap bewtween side-bar and main-content  */}}
<div class="w-12"></div>

<main class="flex-col ">
    
    <div class="hidden md:block h-16"></div>


    <div class="bg-zinc-950 md:bg-transparent z-10 relative px-10  overflow-auto flex-grow scrollbar-thin scrollbar-thumb-zinc-400 scrollbar-track-zinc-800 ">
        
        {{ block "site_bg_mobile" . }} {{ end }}

        <hr id="canvas-container-width-target" class="visible md:invisible border-zinc-500">

        {{/*  Rich Text Compnenet  */}}
        {{ block "markdown_body" $markdown_page }} {{ end }}
        

    </div>

    <div class="md:h-16 "></div>

</main>

{{/*  gap bewtween main contetn and toc  */}}
<div class="w-12"></div>

{{ with $markdown_page }}
{{ partial "toc_sidebar.html" . }}
{{ end }}


</div>

