{{ define "pages_body_container" }}
<main class="w-full ">

    <div class="hidden lg:block h-16"></div>
    <div class= "px-10  bg-zinc-950 lg:bg-transparent z-10 relative lg:px-10 min-w-full">
        <hr id="canvas-container-width-target" class="visible lg:invisible border-zinc-500">
        {{/*  {{ partial "filter_sidebar_mobile.html" . }}  */}}
        {{ block "pages_body" . }} {{ end }}
        {{ block "page_footer" . }} {{ end }}
    </div>

    <div class="h-6 md:h-16 transition-all"></div>

</main>

{{ end }}