{{ define "page_footer" }}

<div class=" block lg:hidden">
    <hr class="border-zinc-50 border-opacity-25 mt-12">

    <div class="flex mt-3 select-none">
        <div class="flex flex-grow place-items-center first:[&>span]:pr-2 [&>span]:px-2 last[&>span]:pl-2">
            <div class="border-r-1 border-zinc-50 border-opacity-30 
             ml-1 uppercase tracking-wider text-opacity-50 font-medium text-[0.65rem] sm:text-xs transition-all ">
        </div>
        </div>
    
        <div class="flex justify-end items-center">
            <p  class="text-[0.65rem] sm:text-xs text-zinc-50 text-opacity-25 cursor-default transition-all">
                © 2024 All rights reserved.
            <p>
        </div>
    </div>
    
</div>


{{ end }}