<div id="canvas-container" class="h-72"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script>
    const container = document.getElementById('canvas-container');
    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera(20, 1, 0.1, 1000); // Aspect ratio set to 1 initially
    const renderer = new THREE.WebGLRenderer({ alpha: true });
    container.appendChild(renderer.domElement);

    const geometry = new THREE.BoxGeometry();
    const material = new THREE.MeshBasicMaterial({ color: 0x00ff00, transparent: true, opacity: 0.5 });
    const cube = new THREE.Mesh(geometry, material);
    scene.add(cube);

    container.addEventListener( 'resize', onWindowResize, false );

    function onWindowResize(){
    
        camera.aspect = container.innerWidth / container.innerHeight;
        camera.updateProjectionMatrix();
    
        renderer.setSize( container.innerWidth, container.innerHeight );
    
    }

    camera.position.z = 5;

    const animate = function () {
        requestAnimationFrame(animate);


        cube.rotation.x += 0.01;
        cube.rotation.y += 0.01;

        renderer.render(scene, camera);
    };

    animate();
</script>