@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url('syntax.css');
@import url('math.css');
@import url('markdown.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

        html,
        body {
                overscroll-behavior: none;
                scroll-behavior: smooth;
                overflow-x: clip
        }

        body {
                position: relative;
                overflow-y: clip;
        }

        .site-bg {
                @apply absolute h-0 -z-20 -top-20 -right-64;
                transform: scale(2, 2, 2);
                transform: 1ms ease;
                overflow: visible;
                box-sizing: border-box;
        }

        .bg-image {
                box-sizing: border-box;
                @apply w-screen h-screen;
        }

        .bg-image {
                @apply invisible lg:visible opacity-80 flex-none;
                overflow: clip;
        }

        #TableOfContents ul>li {
                @apply mt-1 first:mt-2 tracking-wide;
        }

        #TableOfContents ul>li>a {
                @apply transition-all duration-75 text-zinc-50 text-opacity-25 scroll-smooth hover:text-opacity-100 active:text-opacity-100;
        }

        #TableOfContents ul>li>.active {
                @apply text-opacity-100;

        }

        #TableOfContents li li {
                @apply ml-4 first:mt-1;
        }

        ::selection {
                /* @apply text-zinc-50; */
                @apply bg-zinc-50 bg-opacity-[15%];
        }

        ::-webkit-scrollbar {
                width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
                @apply bg-zinc-800;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
                @apply bg-zinc-600;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
                @apply bg-zinc-300;

        }
}


@layer base {
        html {
                @apply text-zinc-50;
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: normal;
                font-weight: 100;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-UltLt.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: italic;
                font-weight: 100;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-UltLtIt.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: normal;
                font-weight: 200;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Th.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: italic;
                font-weight: 200;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-ThIt.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: normal;
                font-weight: 300;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Lt.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: italic;
                font-weight: 300;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-LtIt.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: normal;
                font-weight: 400;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Roman.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: italic;
                font-weight: 400;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-It.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: normal;
                font-weight: 500;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Md.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: italic;
                font-weight: 500;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-MdIt.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: normal;
                font-weight: 600;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Bd.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: italic;
                font-weight: 600;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-BdIt.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: normal;
                font-weight: 700;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Hv.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: italic;
                font-weight: 700;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvIt.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: normal;
                font-weight: 800;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Blk.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: italic;
                font-weight: 800;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-BlkIt.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: normal;
                font-weight: 900;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-XBlk.otf) format('opentype');
        }

        @font-face {
                font-family: 'HelveticaNeueLTStd';
                font-style: italic;
                font-weight: 900;
                font-display: swap;
                src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-XBlkIt.otf) format('opentype');
        }
}