
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

p, h1, h2, h3, h4, h5, h6, a {
    @apply text-zinc-50 ;
}

about p {
        @apply text-zinc-50 ;
        @apply text-sm ;
        @apply mb-2;
}


@layer base {
    
    @font-face {
        font-family: 'HelveticaNeueLTStd';
        font-style: normal;
        font-weight: 100;
        font-display: swap;
        src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-UltLt.otf) format('opentype');
        }
    @font-face {
        font-family: 'HelveticaNeueLTStd';
        font-style: normal;
        font-weight: 100;
        font-display: swap;
        src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-UltLt.otf) format('opentype');
        }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: italic;
            font-weight: 100;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-UltLtIt.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: normal;
            font-weight: 200;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Lt.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: italic;
            font-weight: 200;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-LtIt.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: normal;
            font-weight: 300;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Th.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: italic;
            font-weight: 300;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-ThIt.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Roman.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: italic;
            font-weight: 400;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-It.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: normal;
            font-weight: 500;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Md.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: italic;
            font-weight: 500;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-MdIt.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: normal;
            font-weight: 600;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Bd.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: italic;
            font-weight: 600;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-BdIt.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: normal;
            font-weight: 700;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Hv.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: italic;
            font-weight: 700;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvIt.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: normal;
            font-weight: 800;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-Blk.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: italic;
            font-weight: 800;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-BlkIt.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: normal;
            font-weight: 900;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-XBlk.otf) format('opentype');
            }
    @font-face {
            font-family: 'HelveticaNeueLTStd';
            font-style: italic;
            font-weight: 900;
            font-display: swap;
            src: url(/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-XBlkIt.otf) format('opentype');
            }
  }


