
{{/*  Counter TOC Width  */}}
<div class="max-[1280px]:hidden">
    <aside class="lg:justify-center select-none sticky sm:mx-0 md:mx-0 md:ml-10 top-0 md:h-screen md:py-16 md:min-w-52 md:max-w-52 md:flex-col z-0 lg:flex">
    </aside>
</div>

<div class="max-w-3xl w-full">
    <div class="mx-auto w-full flex"> 

    </div>
    {{ block "notes/markdown_body_container" .}} {{end}}
    {{/*  gap bewtween main contetn and toc  */}}
    <div class="max-[1280px]:hidden md:block w-12"></div>
</div>
{{ partial "notes/toc_sidebar.html" . }}
