

<div class="">

{{ range (where .Site.Pages "Type" "experience") }}

{{$pages := .RegularPages}}

{{ range sort $pages ".Params.date" "desc" }}

{{$title := .Params.title}}
{{$company := .Params.company}}
{{$type := .Params.type}}

{{ $start := time .Params.date }}
{{ $end := time .Params.date_end }}



{{/*  {{$date_start = $date_start.Format "JAN 2023" $date_start}}  */}}

{{$location := .Params.location}}
{{$content := .Content}}


    <div class="border-1 border-zinc-50 border-opacity-20 px-8 py-6 first:mt-5 last:mb-0 mb-5 backdrop-blur-3xl">
        <div class="flex flex-col border-b-1 border-zinc-50 border-opacity-15 pb-3 mb-3">
            <span class="font-semibold">
                {{$title}}
            </span>
            <span class ="mb-1" >
                {{$company}} | {{$type}}
            </span>
            <span class="text-xs text-zinc-400">
                {{ $start.Format "Jan 2006" | upper }}  — {{ $end.Format "Jan 2006" | upper }} | {{$location}}
            </span>            

        </div>
        <div>
            <div class="[&>p]:mt-2 last:[&>p]:mt-0">
                {{$content}}
            </div>
        </div>
    </div>
    
    {{end}}
    {{end}}
    
</div>

