<div class="first:mt-5 last:mb-3 mb-2 backdrop-blur-3xl">
    <button class="toggle-collapsible"> 
        <div class="">
            <span class="toggle-text">
                {{ .Get 0 }} 
            </span>
        </div>
    
        <div class="group first-letter:flex-shrink my-auto">
            <div class="toggle-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" >
                    <path fill-rule="evenodd" d="M9.47 6.47a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 1 1-1.06 1.06L10 8.06l-3.72 3.72a.75.75 0 0 1-1.06-1.06l4.25-4.25Z" clip-rule="evenodd">
                </svg>
            </div>
            
        </div>
    </button>
    <div class="toggle-content">
        {{.InnerDeindent}}
    </div>
</div>
